@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #ffffffbf;
}

body {
  background-color: black;
  position: relative;
}

main {
  position: relative;
  top: 80px;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo {
  width: 60px;
  cursor: pointer;
  position: relative;
  top: 2px;
}

nav {
  width: 100%;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  z-index: 9999999;

}

#submit-button-search {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(7deg) brightness(106%) contrast(101%);
  cursor: pointer;
}

.search-logo {
  width: 22px;
}

#search-input {
  outline: none;
  font-size: 17px;
  padding: 0 10px;
  background-color: #2B2B2B;
  border: none;
  color: white;
  width: 100%;
}

#header-form {
  display: flex;
  align-items: center;
  background-color: #2B2B2B;
  padding: 10px 15px;
  border-radius: 25px;
  width: 350px;
  gap: 5px;
}

#sign-up-button {
  font-size: 16px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 18px;
  border-radius: 25px;
}

#log-in-button {
  font-size: 16px;
  background-color: #0be994;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 5px 18px;
  border-radius: 25px;
}


/* END OF HEADER STYLING */

/* ------------------------------------------ */

main {
  width: 100%;
}

#main-container-div {
  display: flex;
  gap: 8px;
  width: 100%;
}

.aside-div-relative {
  position: relative;
  width: 20%;
}

#your-library-aside {
  width: 20%;
  background-color: #1D1D1D;
  border-radius: 10px;
  position: fixed;
  height: 100vh;
}

#main-section {
  width: 80%;
  background-color: #1D1D1D;
  border-radius: 10px;
  /* padding: 5px 20px;
  padding-left: 40px; */
}

.aside-main-div {
  display: flex;
  flex-direction: column;
}

.above-div-aside {
  width: 100%;
  margin-top: 15px;
}

.your-library-icon-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 31px;
}

.library-icon {
  width: 40px;
}

.your-library {
  font-size: 1.2rem;
}

.footer-title-bold {
  color: white;
  font-weight: 600;
}

.show-all-button {
  background: none;
  color: #0be994;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #0be994;
  border-bottom-style: dashed;
}

/* .show-all-button{
  background: none;
  color: #0be994;
  font-size: 1rem;
  cursor: pointer;
  border-style: dotted;
  border-color: #0be994;
  padding: 2px 8px;
  border-radius: 6px;
} */

#section-1 {
  margin-top: 15px;
}

/* #section-1, #section-2, #section-3{
  display: none;
} */
.tracks-for-you-show-div,
.albums-for-you-show-div,
.artists-for-you-show-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 25px;
  margin-bottom: 40px;
  /* margin-top: 40px; */
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.534);
  /* border-bottom-style: dashed; */
}

.albums-for-you-show-div,
.artists-for-you-show-div {
  margin-top: 35px;
}

.tracks-text,
.albums-text,
.artists-text {
  font-size: 1.6rem;
}

.track-id{
  display: none;
}

#acount-key{
  display: none;
}

footer {
  padding-top: 30px;
  /* margin-top: 100px; */
  border-top: 1px solid rgba(255, 255, 255, 0.534);
  ;
}

.poster-img-div {
  width: 200px;
  align-self: center;
}

.poster-img {
  width: 100%;
  border-radius: 5px;
}

.play-icon {
  width: 45px;
  align-self: flex-end;
  position: absolute;
  bottom: 130px;
  right: 30px;
  cursor: pointer;
  visibility: hidden;
  bottom: 80px;
  transition: 0.5s;
  opacity: 0;
}

.play-icon1 {
  width: 45px;
  align-self: flex-end;
  position: absolute;
  bottom: 130px;
  right: 30px;
  cursor: pointer;
  visibility: hidden;
  bottom: 80px;
  transition: 0.5s;
  opacity: 0;
}

.play-icon2 {
  width: 45px;
  align-self: flex-end;
  position: absolute;
  bottom: 130px;
  right: 30px;
  cursor: pointer;
  visibility: hidden;
  bottom: 80px;
  transition: 0.5s;
  opacity: 0;
}

.poster-div {
  /* border: 1px solid #909090; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 245px;
  position: relative;
  border-radius: 10px;
  height: 340px;
}

.poster-div:hover {
  transition: 0.3s;
  background-color: #393939;
  cursor: pointer;
}

.poster-div1 {
  /* border: 1px solid #909090; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 245px;
  position: relative;
  border-radius: 10px;
  height: 340px;
}

.poster-div1:hover {
  transition: 0.3s;
  background-color: #393939;
  cursor: pointer;
}

.poster-div2 {
  /* border: 1px solid #909090; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 245px;
  position: relative;
  border-radius: 10px;
  height: 340px;
  text-align: center;
  gap: 5px;
}

.poster-div2:hover {
  transition: 0.3s;
  background-color: #393939;
  cursor: pointer;
}


#tracks-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  gap: 25px 5px;
  margin-top: 50px;
}

#albums-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  gap: 25px 5px;
  margin-top: 35px;
}

#artists-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  gap: 25px 5px;
  margin-top: 35px;
}

.track-name,
.artist-name {
  font-size: 0.9rem;
  margin-left: 6px;
  margin-top: 5px;
}

.choosen-music-main-div {
  margin-top: 0px;
}

#choosen-music{
  display: none;
}

.album-image-choosen-music-div {
  width: 300px;
}

.choosen-music-album-img {
  width: 100%;
  border-radius: 6px;
}

.choosen-music-above-div {
  display: flex;
  gap: 15px;
}

.album-artist-name-div {
  align-self: flex-end;
  margin-bottom: 2px;
}

.choose-music-name-album {
  font-size: 6rem;
  color: white;
}

.choose-music-name-artist-text {
  color: white;
  font-size: 0.9rem;
}

.date-span {
  font-weight: 300;
  font-size: 0.9rem;
}

.choosen-music-above-div {
  background: linear-gradient(359deg, rgba(39, 39, 39, 1) 0%, rgb(112, 112, 112) 100%);
  padding: 40px 20px;
  padding-left: 40px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.album-musics-toplay-div {
  padding: 40px 20px;
  padding-left: 40px;
}

.play-music-album-padding {
  padding: 30px 20px;
  padding-left: 40px;
}

.play-music-album {
  width: 55px;
  cursor: pointer;
  transition: 0.5s;
}

.play-music-album:hover {
  scale: 1.1;
}



.music-title-date-added-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.title-div {
  max-width: 450px;
}

.title-span {
  margin-left: 10px;
}

.artists-music-div-play {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  margin-top: 15px;
  transition: 0.3s;
  border-radius: 8px;
  height: 80px;
}

.artists-music-div-play:hover {
  background-color: #5d5d5d;
}

.music-order-div {
  display: flex;
  align-items: center;
  gap: 19px;
  max-width: 350px;
}

.play-music-order {
  display: none;
  width: 18px;

}

.add-button-order {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.add-music-div-duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72px;
}

.duration-text {
  font-size: 1.05rem;
}

.album-musics-toplay-div {
  width: 50%;
}

#choosen-music {
  display: none;
}





/* search */

#search-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  gap: 25px 5px;
  margin-top: 50px;
}

/*  */
.footer-main-div {
  /* display: flex; */
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 20px 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.footer-icon-div {
  background: none;
  display: flex;
  justify-content: end;
  gap: 6px;
}

.footer-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #1D1D1D;
  border: 1px solid #1D1D1D;
}

.footer-icon:hover {
  scale: 1.1;
}

.artist-round {
  border-radius: 50%;
}


/* regitration */

#register-container {
  position: absolute;
  background: #000000eb;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #0be994;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px #ffffffbf;
  border-radius: 2%;
  display: none;
}

/* #register{
  display: flex;
  flex-direction: column;

} */



#contein-of-line {
  width: 100%;
  display: flex;
  align-items: center;

}

#titel-of-registerconteinet {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  align-items: center;
}

.line {
  width: 33.3%;
  background-color: #ffffffbf;
  height: 2px;
}

/* .line1{
  background-color: #0be994;
} */



#register-container-part1 {
  /* align-self: center; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  /* justify-content: center; */
  width: 326px;
  height: 330px;
  /* display: none; */
}




.style-of-input {
  width: 100%;
  background-color: #2B2B2B;
  border: 1px solid #ffffffbf;
  border-radius: 10px;
  padding: 5px 10px;
  color: #ffffffbf;
  margin-bottom: 20px;
  cursor: pointer;
}


.style-of-label {
  align-self: self-start;
  font-size: 0.7rem;
  font-weight: 800;


}

.style-of-btn {
  font-size: 16px;
  background-color: #0be994;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 5px 18px;
  border-radius: 25px;
  width: 100%;
  transition: 0.8s;
}

.style-of-btn:hover {
  scale: 1.03;
}

/* part2-------------- */



#register-container-part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  /* align-items: center; */
  width: 326px;
  height: 300px;
  display: none;
}


h6 {
  font-weight: 500;
}

.condition {
  font-size: 0.7rem;
}

.password-decription {
  margin-top: -10px;
  margin-bottom: 10px;
}

.div-of-circle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.circle {
  width: 7px;
  height: 7px;
  /* background-color: aliceblue; */
  border: 1px solid #ffffffbf;
  border-radius: 50%;
}

#promis-of-password {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 5px 8px;
}

#register-container-part3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 326px;
  height: 348px;
  display: none;
}


.style-of-btn-register {
  margin-top: 20px;
}


/* log in */

#log-container {
  position: absolute;
  background: #000000eb;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #0be994;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px #ffffffbf;
  border-radius: 2%;
  display: none;
}

#log-in {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 326px;
  height: 348px;
  gap: 5px;
}

#btn-ofregister {
  margin-top: 25px;
}

#email-ofregister {
  margin-bottom: 5px 0;
}

.artist-id {
  display: none;
}

                
.booleancheck{
  display: none;
}


/* style of liked music */

#liked-div-container{
  padding: 10px 31px;

}

.liked-songs-div{
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
  /* background-color: #393939; */
}

.liked-songs-div:hover{
  transition: 0.3s;
  background-color: #393939;
  cursor: pointer;
}

.container-of-names{
  display: flex;
  flex-direction: column;
  align-items: start;
  
  gap: 10px;
}